<div class="container container-main">

    <div class="container container-artist">

        <div class="artist-info">

            <p class="paragraph-artist-name">
                Lorem ipsum dolor sit amet.
            </p>
    
            <img id="image-artist">
    
            <p class="paragraph-biography">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores culpa suscipit, excepturi praesentium quas temporibus, voluptatibus quibusdam ipsa reiciendis nemo, ipsum provident quod sapiente architecto ullam? Officiis, officia a? In, minus asperiores! Eaque est facere asperiores deserunt et dolor aut! Minima illo officiis nisi accusantium adipisci nemo. Aliquid, optio impedit deserunt dicta suscipit voluptates numquam ducimus recusandae, officiis eum eius est voluptas nisi tempora cum accusamus fuga, eaque dolorum consectetur sunt? Dolor adipisci corrupti saepe provident pariatur a labore at assumenda et aperiam! Perspiciatis quibusdam non beatae? Voluptates error dolorum laborum minima aliquam optio. Dicta numquam officiis harum nemo cum!
            </p>

        </div>
        
        <ul class="ul-albums"></ul> 

        <p class="selected-album">Lorem ipsum dolor sit amet.</p>
        
        <ul class="ul-album-tracks"></ul> 

    </div>

    <div class="container container-user">
        <p class="paragraph-favourites">User favourites</p>
        <ul class="ul-user-favourites"></ul>
        <iframe src="https://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1" id="yt-player" width="560" height="315" allow="autoplay" enablejsapi="true"></iframe>
    </div>

</div>

<a href="/logout">Log Out</a>.

<script>
    // Ubacivanje skripte koja učitava Iframe API iznad svih skripti unutar hompage.ejs
let scriptTag = document.createElement('script');
scriptTag.id = 'iframe-demo';
scriptTag.src = 'https://www.youtube.com/iframe_api';
let firstScriptTag = document.body.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(scriptTag, firstScriptTag);
console.log('Source script inserted');

/* Funckiju onYouTubeIframeAPIReady() poziva #iframe-demo skripta nakon što završi
sa skidanjem Javascript koda za Iframe API */
let player;
    function onYouTubeIframeAPIReady(){
        console.log('Iframe API ready!');
        player = new YT.Player('yt-player', {
            events: {
                'onReady': onPlayerReady
                // 'onStateChange': onPlayerStateChange
            }
        });
    };

    function onPlayerReady(event) {
        console.log('Player ready!');
        // let favouriteList = document.querySelector('.ul-user-favourites');
        // favouriteList.addEventListener('click', events.playerControl.bind(player));
    };
</script>







