<div class="container container-main">

    <div class="container container-artist">

        <div class="artist-info">

            <p class="paragraph-artist-name">
                Lorem ipsum dolor sit amet.
            </p>
    
            <img id="image-artist">
    
            <p class="paragraph-biography">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores culpa suscipit, excepturi praesentium quas temporibus, voluptatibus quibusdam ipsa reiciendis nemo, ipsum provident quod sapiente architecto ullam? Officiis, officia a? In, minus asperiores! Eaque est facere asperiores deserunt et dolor aut! Minima illo officiis nisi accusantium adipisci nemo. Aliquid, optio impedit deserunt dicta suscipit voluptates numquam ducimus recusandae, officiis eum eius est voluptas nisi tempora cum accusamus fuga, eaque dolorum consectetur sunt? Dolor adipisci corrupti saepe provident pariatur a labore at assumenda et aperiam! Perspiciatis quibusdam non beatae? Voluptates error dolorum laborum minima aliquam optio. Dicta numquam officiis harum nemo cum!
            </p>

        </div>
        
        <ul class="ul-albums"></ul> 

        <p class="selected-album">Lorem ipsum dolor sit amet.</p>
        
        <ul class="ul-album-tracks"></ul> 

    </div>

    <div class="container container-user">
        <p class="paragraph-favourites">User favourites</p>
        <ul class="ul-user-favourites"></ul>
        <iframe src="https://www.youtube.com/embed?enablejsapi=1" id="yt-player" width="560" height="315" allow="autoplay"></iframe>
    </div>

</div>

<a href="/logout">Log Out</a>

<script src="https://www.youtube.com/iframe_api" id="iframeApi-download"></script>
<script src="iframeApi.js" type="text/javascript"></script>
<script src="homepage.js" type="module"></script>






