
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
  </head>

  <body>
  
    <h1>Register page</h1>

      <% if(messages.error) { %> 
          <% messages.error.forEach(error => { %>
            <div class="flash flash-error">
              <%= error %> 
            </div>
        <% }); %>  
      <% }; %> 

      <% if(messages.success) { %> 
        <% messages.success.forEach(success => { %> 
          <div class="flash flash-success">
            <%= success %> 
          </div>
        <% }); %> 
      <% }; %> 
  
    <form action="/register" method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </div>
    
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </div>
      
      <button type="submit" id='btn-register'>Register</button>
    </form>

    <p>
      Already registered? <a href="/login">Log In</a>.
    </p>

    <script src="messageHandler.js"></script>
      
    
  </body>
</html>





